.boxed-view {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
    width: 100vw;
}

.boxed-view--modal {
    // background-color: fade-out(0.3);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
